@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  background-image: url(./images/bg-intro-desktop.png);
  background-color: var(--Red);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.container {
  padding: 20px;
  display: flex;
  margin: 200px;
  width: 900px;
  height: 400px;
  align-items: center
}

.formDiv{
  background-color: #fff;
  min-height: 300px;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 1px 5px 2px hsl(0, 57%, 59%);
}

.forms{
  display: flex;
  flex-direction: column;
}

.form{
  margin-bottom: 15px;
  padding: 12px;
  border: 2px solid var(--GrayishBlue);
  border-radius: 4px;
  font-size: .7rem;
}

input:focus{
  outline: none;
  border: 2px solid var(--AccentBlue);
}

::placeholder{
  font-size: .6rem;
}

.btn{
  padding: 12px;
  width: 100%;
  text-transform: uppercase;
  background-color: var(--Green);
  border: none;
  border-bottom: 4px solid var(--HoverBtn);
  font-weight: 600;
  color: #fff;
  font-size: .7rem;
  border-radius: 6px;
}

.error{
  color: var(--Red);
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: .7rem;
  display: none;
}

.error::before{
  content: '•';
}


.btn:hover{
  background-color: var(--HoverBtn);
}

.container .secondDiv .formDiv p{
  margin-top: 15px;
  font-size: .6rem;
  text-align: center;
}

.container .secondDiv .formDiv p span{
  color: var(--Red);
  font-weight: 700;
}

.texts{
  color: #fff;
}

.texts h1{
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 15px;
}

.texts p{
  font-size: .8rem;
}

.trial{
  background-color: var(--AccentBlue);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 1px 5px 2px hsl(0, 57%, 59%);
}

.trial h2{
  color: #fff;
  font-size: .7rem;
  text-align: center;
}

.trial h2 span{
  font-weight: 400;
  color: var(--GrayishBlue);
}

.firstDiv{
  width: 50%;
  margin-right: 50px
}

.secondDiv{
  width: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
  --AccentBlue: hsl(248, 32%, 49%);
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --HoverBtn: hsl(154, 66%, 39%);
}